{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Spieler</title>
    <link rel="stylesheet" href="{% static 'textadventure_app/style.css' %}">
</head>
<body>
		<div class="overlay">
			
            <div class="container align-items-center mt-5 text-white">
                <div class="row justify-content-center">
                    <div class="col-lg-6 mt-3">
                        <h1 class="display-1 text-center">DIE NACHT</h1>
                        <hr class="bg-white">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 text-center">
                        <form action="{% url 'textadventure_app:save_spieler' %}" method="post">
                            <div class="form-group m-3">
                            {% csrf_token %}
                                <label for="name">Neuer Spieler:</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <button type="submit" class="btn btn-primary mt-3 text-light bg-dark" value="new_spieler">Spiel starten</button>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
                <br>
                
                <div class="row justify-content-md-center ">
                    <div class="col-lg-4 text-center">
                    <p>Spieler wählen:</p>
                    <table class="table text-center text-white ">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Fortsetzen</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr> 
                        {% for s in spieler %}
                            <th scope="row">{{s.name}}</th>
                            <td><a class="btn btn-primary ml-3 bg-dark" href="{% url 'textadventure_app:station' s.station.name s.name  %}" role="button">Spiel fortsetzten</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>


            </div> 
            

  
		</div>
        
        <video loop muted autoplay poster="video/plane.jpg" class="fullscreen-bg__video">
            <source src="{% static 'textadventure_app/video.mp4' %}" type="video/mp4">
	    </video>



  




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
