{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>{{station.title}}</title>
    <link rel="stylesheet" href="{% static 'textadventure_app/style.css' %}">
</head>
<body>

<div class="overlay">

    <div class="container align-items-center mt-5 text-white">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-light bg-transparent">
                    <h5 class="card-header border-light">{{spieler.name}}</h5>
                    <div class="card-body border-light">
                      <h5>Inventar:</h5>
                      <ul class="list-group list-group-flush">
                        {% for item in spieler.inventar.all %}
                        <li class="list-group-item bg-transparent">- {{item.name}}</li>
                        {% endfor %}
                      </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h3 class="display-4 text-center">{{station.title}}</h1>
                <hr class="bg-white">
                {% for s in sentences%}
                <p>{{s}}.</p>
                {% endfor %}
                <br>
                {% for choice in choices %}
                    {% if choice.inventar_set.all %}
                        <a href="{% url 'textadventure_app:save_inventar' choice.id spieler.id  %}" class="btn btn-primary bg-dark">{{choice.text}}</a>
                    {% else %}
                        <a href="{% url 'textadventure_app:choose_station' choice.id spieler.id  %}" class="btn btn-primary bg-dark">{{choice.text}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


</div>
        
<video loop muted autoplay poster="video/plane.jpg" class="fullscreen-bg__video">
    <source src="{% static 'textadventure_app/video.mp4' %}" type="video/mp4">
</video>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>